* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  --primary-color: hsl(155, 59%, 41%);
  --light-color: hsl(155, 59%, 50%);
}

body {
  font-family: sans-serif;
  background-size: cover;
}

/* kid name */
label {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

/* nav-bar */
nav {
  background-color: var(--primary-color);
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
  border-radius: 3px;
}

a.active,
a:hover {
  background-color: var(--light-color);

  transition: 0.5s;
}

main {
  margin: 30px auto;
}

.text-center {
  text-align: center;
}

.title {
  color: var(--primary-color);
  font-size: 36px;
  width: 80%;
  margin: 10px auto;
  text-transform: uppercase;
}
.title:hover {
  text-shadow: 1px 0px 1px var(--primary-color);
}
