* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  --nav-color: rgb(218, 82, 202);
  --title-color: rgb(131, 20, 118);
  --paraph-color: rgb(131, 20, 118);
}

body {
  font-family: sans-serif;
  background-size: cover;
}

/* kid name */
label {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

/* nav-bar */
nav {
  background-color: var(--nav-color);
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
  border-radius: 3px;
}

a.active,
a:hover {
  /* background-color: lighten(red, 30%); */
  filter: brightness(30%);
  transition: 0.5s;
}

/* main */

main {
  /* width: 80%; */
  margin: 30px auto;
}

.text-center {
  text-align: center;
}

/* text  */

.title {
  color: var(--title-color);
  font-size: 36px;
  width: 80%;
  margin: 30px auto;
}
.title:hover {
  text-shadow: 1px 0px 1px var(--title-color);
}

.paraph {
  color: var(--paraph-color);
  font-size: 16px;
  width: 80%;
  margin: 10px auto;
}
.paraph:hover {
  text-shadow: 1px 0px 1px var(--paraph-color);
}

.img-friends {
  width: 80%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}
.img-friends img {
  width: 100%;
  cursor: pointer;
}
.img-friends img:hover {
  transform: scale(0.8) rotate(-15deg);
  border-radius: 15px;
  box-shadow: 5px 10px 20px var(--paraph-color);
}

/* home */

/* friends */

/* school */
/* coding */
