body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#gameContainer {
  text-align: center;
}
#gameBoard {
  border: 3px solid;
}
#scoreText {
  font-family: "Courier New", Courier, monospace;
  font-size: 100px;
}
#resetBtn {
  font-size: 22px;
  width: 100px;
  height: 50px;
  border: 4px solid;
  border-radius: 10px;
  cursor: pointer;
}
