.colors {
  color: rgb(184, 158, 231);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: rgb(127, 158, 225);
  overflow: hidden;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  /* background: #beec40d2; */
}
